.box3 {
  width: 200px;
  height: 200px;
  background: url("../images/3.svg");
  background-size: cover;
  &:hover {
    background: deepskyblue;
  }
  display: flex;
  align-items: center;
  justify-content: center;
}

.box4 {
  width: 100px;
  height: 100px;
  background: blue;
  &:hover {
    background: yellowgreen;
  }
  display: flex;
  align-items: center;
  justify-content: center;
}
