.box3 {
  width: 100px;
  height: 100px;
  background: url("../images/3.svg");
  background-size: cover;
  &:hover {
    background: deepskyblue;
  }
}

.box4 {
  width: 100px;
  height: 100px;
  background: blue;
  &:hover {
    background: yellowgreen;
  }
}
